# Java class files
bin/

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# VS Code specific
.vscode/

# IntelliJ IDEA specific
.idea/

.DS_Store

# Node specific
node_modules/

# Logs
logs/
*.log

# Config files
config.properties
config.json.enc
CLAUDE.md

# Docker files
Dockerfile
# Shell scripts
*.sh

# Batch script and other files
run.bat
sources.txt
runtime/
installer/
commands/

dist/
jaweather/dist/
